<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Counting Down</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  </head>
  <body ng-app="countingDown">
    <main ng-controller="MainCtrl">

      <section ng-show="timeHasPassed">
        Aww, that time has passed
        Enter a new one?
      </section>

      <section ng-hide="hasValidDate">
        <input ng-model="title" placeholder="To what?">
        <form name="timepickerForm" class="form-inline" role="form">

          <!-- Datetime example -->
          <div class="form-group">
            <label class="control-label"><i class="fa fa-calendar"></i> Datetime picker</label><br>
            <div class="form-group">
              <input type="text" size="10" class="form-control" ng-model="timeDateInput" data-autoclose="1" placeholder="Date" bs-datepicker data-min-date="today">
            </div>
            <div class="form-group">
              <input type="text" size="8" class="form-control" ng-model="timeDateInput" data-time-format="HH:mm" data-autoclose="1" placeholder="Time" bs-timepicker>
            </div>
          </div>

        </form>

        Date: {{ timeDateInput }}

        <button ng-click="handleStart()">Start counting down</button>
      </section>

      <section ng-show="hasValidDate">
        <h1>Counting down to {{ title }}</h1>

        <span ng-show="shouldBeDisplayed('years')">years: {{ years }} <br></span>
        <span ng-show="shouldBeDisplayed('days')">days: {{ days }} <br></span>
        <span ng-show="shouldBeDisplayed('hours')">hours: {{ hours }} <br></span>
        <span ng-show="shouldBeDisplayed('minutes')">minutes: {{ minutes }} <br></span>
        <span ng-show="shouldBeDisplayed('seconds')">seconds: {{ seconds }} <br></span>

        <input type="checkbox" ng-model="showZeros">
      </section>

    </main>


    <script src="bower_components/jquery/jquery.js"></script>
    <!-- build:js scripts/plugins.js -->

    <!-- endbuild -->
    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <script src="bower_components/angular-momentjs/angular-momentjs.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/mainCtrl.js"></script>
    <!-- endbuild -->
  </body>
</html>
