<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Share the countdown</h4>
      </div>
      <div class="modal-body">

        <p>Copy the following link to be able to come back to the current countdown, or if you want to share it with someone else</p>
        <div class="form-group">
          <input type="text" class="form-control" id="copy-link-input" placeholder="Copy link" ng-model="fullUrl" select-on-focus>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
